<h2>Добро пожаловать в пиццерию!</h2>

<div class="row">

    <% @products.each do |p| %>
    <div class="col-md-3">
      <div>
      <%= p.title %>
      </div>

      <div>
      <img src="<%= p.path_to_image %>" />
      </div>

      <div>
      <%= p.description %>
      </div>


      <div>
      Размер: <%= p.size %> см
       </div>

      <div>
      Цена: <%= p.price %> рублей т и
      </div>
    </div>
    <% end %>

</div>
<br>
</br>

<button class="btn btn-primary" onclick="something()">Нажми на меня!</button>
